/* GLOBAL STYLES */
@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Regular.ttf") format("ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Light.ttf") format("ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Medium.ttf") format("ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/Ubuntu-Bold.ttf") format("ttf");
    font-weight: bolder;
}

button {
    box-shadow: 0px 2.76726px 2.21381px rgba(147, 120, 255, 0.0196802),
        0px 6.6501px 5.32008px rgba(147, 120, 255, 0.0282725),
        0px 12.5216px 10.0172px rgba(147, 120, 255, 0.035),
        0px 22.3363px 17.869px rgba(147, 120, 255, 0.0417275),
        0px 41.7776px 33.4221px rgba(147, 120, 255, 0.0503198),
        0px 100px 80px rgba(147, 120, 255, 0.07);
    border: none;
    outline: none;

    font-family: "Ubuntu";
    font-weight: bolder;
    font-style: normal;
    font-size: 24px;
    text-align: center;

    cursor: pointer;
}

/* MAIN PAGE */
.main-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inline-app-name {
    color: #4d21ff;
    font-weight: bolder;
}

/* HEADER */
#header-main {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER LOGO */
#logo-header {
    max-height: 100%;
}

/* ABOUT SECTION */
#about-container {
    max-width: 35%;
    padding-bottom: 50px;
}

#about-container p {
    font-size: 1.7em;
    text-align: center;

    font-family: "Ubuntu";
    font-weight: lighter;
    font-size: 32px;
    line-height: 140.5%;
    letter-spacing: 0.1em;

    height: 100%;
}

/* LINKS SECTION */
#links-container {
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 30%;
}

#links-container #nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

#links-container #store-links {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* BUTTON TYPES */

button {
    border-radius: 28px;
    width: 180px;
    height: 70px;
}

.primary-button {
    background-color: #9378ff;

    color: #ffffff;
}

.primary-button:hover {
    background-color: #8365fb;

    color: #ffffff;
}

.secondary-button {
    background-color: #faf8f8;

    color: #9378ff;
}

.secondary-button:hover {
    background-color: #eee8e8bf;
}

.google-play-button {
    background: url(./assets/images/google-play-badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
}

/* GAMES PAGE */
.games-container {
    /* background-color: red; */
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards-container {
    /* height: 800px; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.games-container .loading {
    margin: 10%;
    font-size: 3rem;
}

.games-container .error-container {
    margin: 10%;
    font-size: 3rem;
}

/* GAME NEWS CARDS */
.single-news-card {
    margin: 10px;
    padding: 30px 25px;
    background-color: #ffffff;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771),
        0px 100px 80px rgba(0, 0, 0, 0.02), 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.single-news-card h1 {
    font-weight: bold;
    font-size: 2em;
    width: 80%;
    text-align: center;
}

.single-news-card .single-news-date {
    font-size: 1.8em;
    font-weight: bold;
    align-self: flex-start;
    margin: 25px 8%;
    color: #00000085;
    order: -1;
}

.single-news-card img {
    border-radius: 15px;
    margin: 35px 0;
    width: 50%;
}

.single-news-card ul {
    margin-top: 1%;
    padding: 15px 10px;
    width: 80%;
}

.single-news-card li {
    font-size: 1.7rem;
    line-height: 2.3rem;
    /* border-bottom: 2px solid #4d21ff; */
    /* list-style-type: circle; */
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}

/* .single-news-card li:nth-child(even) {
    background-color: #634cbd17;
} */

/* TODO font not applied */
.single-news-card li h3 {
    grid-column: 1/-1;
    font-family: "Ubuntu";
    font-weight: bold;
    /* border-top: 2px solid rgb(128, 12, 182); */
    border-width: 100%;
    margin: 10px 0;
}

.single-news-card li p {
    line-height: 2.4rem;
}

/* GAMES PAGE NAVBAR (GAME LIST) */
#games-navbar-container {
    /* background-color: #4d21ff; */
    overflow: hidden;
    background-color: #faf8f8;
    border: 1px solid #e6dcdc;
    border-radius: 25px;
    box-shadow: 0px 2.76726px 2.21381px rgba(147, 120, 255, 0.0196802),
        0px 6.6501px 5.32008px rgba(147, 120, 255, 0.0282725),
        0px 12.5216px 10.0172px rgba(147, 120, 255, 0.035),
        0px 22.3363px 17.869px rgba(147, 120, 255, 0.0417275),
        0px 41.7776px 33.4221px rgba(147, 120, 255, 0.0503198),
        0px 100px 80px rgba(147, 120, 255, 0.07);

    /* width: 30%; */
    display: flex;
    /* height: 103px; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

#games-navbar-container button {
    /* width: 300px; */
    border-radius: 25px;
    font-size: 1.7em;
    box-shadow: none;
}

#games-navbar-container .secondary-button {
    border-radius: 0;
}

#games-navbar-container .secondary-button:hover {
    border-radius: 0;
    background-color: #faf8f8;
}

#games-navbar-container .primary-button:hover {
    background-color: #9378ff;
}
